.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error img {
  height: 500px;
  width: 500px;
}

.error p {
  font-size: 3rem;
  color: #cecfd4;
  margin: 0;
}

.error a {
  font-size: 3rem;
}