.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notfound img {
  height: 100%;
  width: 100%;
}

.notfound p {
  color: white;
  font-size: 3rem;
}